[user]
	email = daniel.mal@protonmail.com
	name = daniel

[alias]
	st = status
	a = add
	co = commit -m
	prty = log --pretty=oneline --graph --decorate --all

[core]
	editor = vim

[help]
	autocorrect = 1
